<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todo</title>
    <link rel="stylesheet" href="../public/style.css" type="text/css">
    <script src="https://kit.fontawesome.com/a4e4f824b7.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <main>
        <div class="container" id="container">
            <h2>Edit Todo</h2>
            <form action="" id="edit-form">
                <p id="dateCreated">Date Created:</p>
                <label for="todo-title">Title
                    <input required type="text" name="task" id="todo-title">
                </label>
                
                <label id="switch-container" for="edit-finished">
                    Finished:
                    <input required type="checkbox" name="task" id="edit-finished">
                    <span id="slider"></span>
                </label>
            </form>

            <button id="save-btn">Save</button>
        </div>
    </main>
    <script src="../public/editTodo.js"></script>
</body>
</html>